/* #########################
       DEFINIÇÕES GERAIS
   ######################### */
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height:100%;
}

body {
	min-height: 1280px;
	font-weight: 300;
	color: #2a2a2a;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 16px;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #666;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #666;
  -webkit-border-radius: 3px;
}

p,
h1,
h2,
h3,
h4,
a {
	margin: 0;
	font-weight: 300;
}

a,
a:hover {
	color: #f30;
	text-decoration: none;
	border-bottom: 0px solid currentColor;
}

#intro {
	position: relative;
	width: 100%;
	height: 77%;
	margin: 0 auto;
	text-align: center;
	z-index: 1;
}

.intro_mosaic {
	margin: 0 auto;
	background-image: url("../img/seca/4.jpg");
	background-color: black;
	background-size: cover;
	height: 100%;
}


.intro_title_bg {
	position: absolute;
	margin: 0 auto;
    top: 0; left: 0; 
    width: 100%; height: 100%;
    background: black; 
    opacity: 0.75;
}

.intro_title {
	position: relative;
	top: 42%;
	transform: translateY(-50%);
	margin: 0 auto;
}

.intro__overline {
	font-size: 1.4rem;
}

.intro__hed {
	color: white;
	font-size: 120px;
	margin: 1.5rem auto;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	letter-spacing: 0.05em;
}

.intro__dek {
	color: white;
	font-size: 2rem;
	text-align: center;
}

.arrow {
	position: absolute;
	left: 50%;
	bottom: 0;
	text-align: center;
	margin: 8% 0;
}

.arrow p {
	color: white;
	text-decoration: none;
	border-bottom: 0;
}

.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

.section_header {
	background: white;
	z-index: 2;
	text-align: center;
    padding-top: 20%;
}

.section_header h1{
	font-size: 72px;
}

#about_us h5{
	text-align: center;
	margin-bottom: 10px;
	font-size: 40px;
}

#apresentacao{	
	padding-top:5%;
}

#teste {
	height: 25%;
}

#teste h5{
	text-align: center;
	margin-bottom: 10px;
	font-size: 40px;
}

#membros{
	height: 40%;
}

.membro p {
	text-align: center;
}

.name_membro {
	margin-top: 5px;
	margin-bottom: 0px;
	font-weight: 700;
}

.email_membro {
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-style: italic;
}

.descricao_membro{
	margin-top: 5px;
	font-size: 15px;
}

.foto_membro {
	border-radius: 90px;
	width: 175px;
	height: 175px;
	margin-left:25%;
}

#rodape {
	width: 100%;
	/*background-image: linear-gradient(to right, rgba(186,77,14,1), rgba(90,154,163,1));*/
	background-color: black;
}

#img1 {
	padding-top: 5%;
	width: 70%;
}

#img2 {
	width: 50%;
	padding-left: 8%;
	margin-left: 35%
}



/* ####################################
       DEFINIÇÕES PARA O  SCROLLAMA
   #################################### */

.scroll {
	position: relative;
	grid-column-gap: 0px;
	background: white;
	z-index: 2;
	/*border-top: 1px solid #000;
	border-bottom: 1px solid #000;*/
}

/* 
	left: 35%;
	left: 0%;
*/
.scroll__graphic {
	position: -webkit-sticky;
  	position: sticky;
	top: 0;
	left: 0%;
	bottom: auto;
	width: 65%;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	background-color: #ddd;
	border: 1px solid #000;
	text-align: center;
  	vertical-align: middle;
}

.scroll__graphic.is-fixed {
	position: fixed;
	bottom: 0;
}

.scroll__graphic.is-bottom {
	position: absolute;	
	top: 0;
	bottom: 0;
}

.scroll__graphic__img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
}

.scroll__graphic p {
	text-align: center;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 2rem;
	font-weight: 200;
	color: #666;
}

/*
	left: 65%;
	left: 0%;
*/
.scroll__text {
	position: relative;
	left: 65%;
	padding: 0 1rem;
	width: 35%;
}

.step {
	margin: 0 auto 2rem auto;
	/*border: 1px solid #333;*/
	/* border-bottom: none; */
}

.step:last-child {
	/*border-bottom: 1px solid #333;*/
}

.step.is-active {
	/*background-color: lightgoldenrodyellow;*/
}

.step p {
	text-align: justify;
	padding: 1rem;
	font-size: 1.5rem;
}

.step p.quote {
	text-align: center;
	font-style: italic;
	font-size: 1.25rem;
}

.step li {
	text-align: left;
	font-size: 1.25rem;
}

/* #######################################
       DEFINIÇÃO PARA AS VISUALIZAÇÕES
   ####################################### */
  
.overlay {
  fill: none;
  pointer-events: all;
}
  
.focus circle {
  fill: none;
  stroke: steelblue;
}

.grid line {
  	stroke: grey;
 	stroke-opacity: 0.7;
  	shape-rendering: crispEdges;
}

.grid path {
	stroke: grey;
  	stroke-width: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.tick {
  	opacity: 0.5;
}

line{
  	opacity: 0.6;
}

